body {
    max-width: 1440px;
    padding: 40px;
    margin: 0 auto;
    font-family: "Arial", "Times", "Helvetica", sans-serif;
}

main {
    position: relative;
}

button,
input {
    font-family: "Arial", sans-serif;
}

header {
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-family: "Arial", sans-serif;
    font-size: 14px;
}

.notif {
    position: fixed;
    bottom: 60px;
    right: 0;
    left: 0;
    margin: 0 auto;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    width: fit-content;
    padding: 20px;
    background: white;
    border-radius: 9999px;
    animation: notif 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.notif.close {
    transform: translateY(100%);
    opacity: 0;
}

.notif.success {
    background: #d4f4d4;
}

.notif.error {
    background: #ff5454;
    color: white;
    font-weight: 800;
}

.notif.warning {
    background: wheat;
}

.navBar,
.filterBar {
    background-color: rgb(240, 240, 240);
    padding: 10px;
    border-radius: 9999px;
}

header.sticky .navBar,
header.sticky .filterBar {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.navBar form {
    display: flex;
    gap: 10px;
}

.navBar input {
    width: 200px;
    height: 30px;
    border-radius: 9999px;
    border: none;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: all 0.2s ease-in-out;
}

.navBar button {
    width: 100px;
    height: 30px;
    display: flex;
    border-radius: 9999px;
    border: none;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    background-color: #ffffff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: all 0.2s ease-in-out;
}

.navBar input:focus-visible,
.navBar button:focus,
.navBar button:hover,
.navBar input:hover {
    border: none;
    outline: none;
    box-shadow: 0 0 0 3px white, 0 0 0 5px rgb(135, 135, 135);
}

.filterBar {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.filterBar select {
    border: none;
    padding: 0px 4px;
}

.filterBar select:focus-visible,
.filterBar select:focus,
.filterBar select.active {
    border: none;
    outline: none;
    box-shadow: 0 0 0 2px white, 0 0 0 4px rgb(135, 135, 135);
}

.filterBar .current-type {
    width: 26px;
}

.filterBar a,
.filterBar button,
.pokedex-pagination a {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: all 0.2s ease-in-out;
    width: fit-content;
    padding: 6px 14px;
}


.filterBar a:first-child {
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
}

.filterBar a:last-child {
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
}

.pokedex-pagination a:focus,
.pokedex-pagination a:hover,
.pokedex-pagination a.active,
.filterBar a:focus,
.filterBar a:hover,
.filterBar a.active,
.filterBar button:focus,
.filterBar button:hover,
.filterBar button.active {
    border: none;
    outline: none;
    box-shadow: 0 0 0 2px white, 0 0 0 4px rgb(135, 135, 135);
}

.filterBar button.filterby {
    display: none;
}

.pokedex {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 0 auto;
    margin-top: 140px;
}

.pokedex-pagination {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.pokedex-pagination a {
    background-color: rgb(240, 240, 240);
}

.pokemon-card {
    display: flex;
    width: fit-content;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 2px;
    gap: 10px;
    width: 100%;
    font-size: 0.8rem;
    transition: all 0.2s ease-in-out;
}

.pokemon-card img {
    width: 150px;
    height: 150px;
}

.pokemon-card:focus,
.pokemon-card:hover {
    border: none;
    outline: none;
    box-shadow: 0 0 0 3px white, 0 0 0 5px rgb(135, 135, 135);
}

.pokemon {
    display: flex;
    gap: 10%;
    align-items: center;
    margin-top: 100px;
    font-family: "Arial", sans-serif;
}

.pokemon-header img {
    width: 375px;
    height: 375px;
}

.pokemon-stat {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
}

.pokemon-stat-types ul {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.pokemon-stat-types li {
    display: flex;
    align-items: center;
    gap: 6px;
}

.pokemon-stat-types li img {
    width: 20px;
    height: 20px;
}

.pokemon-stat-types li span {
    text-transform: capitalize;
}

.pokemon-evolutions h2 {
    margin-bottom: 20px;
}

.pokemon-evolutions ul:not(:last-child) {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.pokemon-evolutions button {
    background-color: #e7e7e7;
    padding: 0 10px 0 4px;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
}

.pokemon-evolutions button.no-img {
    padding: 10px 20px;
}

.pokemon-evolutions button img {
    width: 40px;
    height: 40px;
}

.pokemom-delete-form {
    position: absolute;
    right: 0;
    top: 0;
}

.pokemom-delete-form button {
    background-color: #ff5454;
    color: white;
    font-weight: 800;
    border: none;
    border-radius: 9999px;
    padding: 10px 20px;
    cursor: pointer;
}

@keyframes notif {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width: 1200px) {
    .pokedex {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 940px) {
    .pokedex {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media screen and (max-width: 768px) {
    .pokedex {
        grid-template-columns: repeat(2, 1fr);
    }

    .filterBar * {
        display: none !important;
    }

    .filterBar.open * {
        display: flex !important;
    }

    .filterBar button.filterby {
        display: block !important;
    }

    .filterBar {
        flex-direction: column;
        border-radius: 8px;
        padding: 10px;
        align-items: center;
    }

    .filterBar a,
    .filterBar select {
        width: 100%;
        border-radius: 4px;
        height: 40px;
    }

    .filterBar a:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .pokemon-page {
        margin-top: 120px;
    }

    .pokemon {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }
}

@media screen and (max-width: 475px) {
    body {
        padding: 20px;
    }

    .pokemon-card {
        font-size: 0.6rem;
    }

    .pokemon-card img {
        width: 100px;
        height: 100px;
    }

    .pokemon-header img {
        width: 275px;
        height: 275px;
    }
}